
h1 {
    font-size: 24pt;
}

header {
    background-color: #78cf6f;
    padding: 30px;
}

footer {
    background-color: #1b1b1b;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 30px;
}

section {
    margin-top: 20px;
}

.folders-list, .notes-list {
    cursor: pointer;
}

.web-site-border {
    color: #f5fff5;
}

#main-section {
    padding: 40px;
}





