
h1 {
    font-size: 24pt;
}

header {
    background-color: #78cf6f;
    padding: 30px;
}

footer {
    background-color: #1b1b1b;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 30px;
}

section {
    margin-top: 20px;
}



.folders-list, .notes-list {
    cursor: pointer;
}

.web-site-border {
    color: #f5fff5;
}

.list-name, .list-act {
    display: inline-block;
    padding: 10px;
}

.list-group-item {
    padding : 5px;
}

.list-act {
    padding : 5px;
    float: right;
}

.list-name {
    float: left;
}

.list-act .btn{
    margin: 0 10px;
    padding: 3px 6px
}

#main-block{
    min-height:100%;
    position: relative;
}

#main-section {
    padding: 40px;
}

#content-section {
    margin-bottom: 80px;
}

#notes-content {
    margin: 10px;
}






